src/js/build
.idea/
.vscode/
*.iml
target/
/build/
node_modules/
src/clj/aos_browser_client/playground.clj
.repl*
.nrepl-port
.DS_Store
.generated
.lein-failures
.lein-repl-history
.rebel_readline_history
figwheel_server.log
*chrome.xml
*ff.xml
geckodriver.log
jsconfig.json
.dir-locals.el
/scripts/.backend-port
.env
